@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/highcharts/7.1.2/highcharts.js"></script>
<script src="~/Scripts/highcharts/7.1.2/modules/exporting.js"></script>
<script src="~/Scripts/highcharts/7.1.2/modules/boost.js"></script>

@*+ scripts for line-labels chart*@
<script src="~/Scripts/highcharts/7.1.2/modules/export-data.js"></script>
<script src="~/Scripts/highcharts/7.1.2/modules/accessibility.js"></script>


<div class="jumbotron" style="text-align:center">
    <h2>Анализ трендов динамических характеристик теплоэнергетического оборудования</h2>

    <figure class="highcharts-figure">
        <div id="container2"></div>
        <p class="highcharts-description">
            Тренд входной динамической характеристики теплоэнергетичеcкого оборудования
        </p>
    </figure>

</div>


<script>
    Highcharts.chart('container2', {
        chart: {
            type: 'line',
            zoomType: 'x'
        },
        title: @Html.Raw(Json.Encode(Model.LineChartData.title)),
        subtitle: @Html.Raw(Json.Encode(Model.LineChartData.subtitle)),
        xAxis: @Html.Raw(Json.Encode(Model.LineChartData.xAxis)),
        yAxis: @Html.Raw(Json.Encode(Model.LineChartData.yAxis)),
        plotOptions: @Html.Raw(Json.Encode(Model.LineChartData.plotOptions)),
        series: [@Html.Raw(Json.Encode(Model.LineChartData.series))]
    });
</script>

@*<script>
    Highcharts.chart('container2', {
        chart: {
         },
        title: {
           type: 'line'
            text: 'Monthly Average Temperature'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
</script>*@