@model ACS_Trend.Models.Control_objectViewModel

@{
    ViewData["Title"] = "CONTROL_OBJECTS_Details";
}

<h1>CONTROL_OBJECTS_Details</h1>

<div>
    <h4>Control_objectViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Control_object_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Control_object_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CO_Control_object_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CO_Control_object_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extend_information)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extend_information)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_Control_object">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
