@model IEnumerable<ACS_Trend.Models.Control_object_typeViewModel>

@{
    ViewData["Title"] = "CONTROL_OBJECT_TYPES_GetAll";
}

<h1>CONTROL_OBJECT_TYPES_GetAll</h1>

<p>
    <a asp-action="CONTROL_OBJECT_TYPES_Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Control_object_type_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Control_object_type_name)
            </td>
            <td>
                <a asp-action="CONTROL_OBJECT_TYPES_Edit" asp-route-id="@item.ID_Control_object_type">Edit</a> |
                <a asp-action="CONTROL_OBJECT_TYPES_Details" asp-route-id="@item.ID_Control_object_type">Details</a> |
                <a asp-action="CONTROL_OBJECT_TYPES_Delete" asp-route-id="@item.ID_Control_object_type">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
