@model IEnumerable<ACS_Trend.Domain.Entities.Station_type>

@{
    ViewData["Title"] = "STATION_TYPES_GetAll";
}

<h1>STATION_TYPES_GetAll</h1>

<p>
    <a asp-action="STATION_TYPES_Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Station_type_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Station_type_name)
            </td>
            <td>
                <a asp-action="STATION_TYPES_Edit" asp-route-id="@item.ID_Station_type">Edit</a> |
                <a asp-action="STATION_TYPES_Details" asp-route-id="@item.ID_Station_type">Details</a> |
                <a asp-action="STATION_TYPES_Delete" asp-route-id="@item.ID_Station_type">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
