@model ACS_Trend.Models.TrendPointViewModel

@{
    ViewData["Title"] = "TREND_POINTS_Create";
}

<h1>TREND_POINTS_Create</h1>

<h4>TrendPointViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Admin" asp-action="TREND_POINTS_Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="file" name="file" />
            <hr />
            <div class="form-group">
                <label asp-for="Trend.T_ID_Station" class="control-label"></label>
                @Html.DropDownList("Trend.T_ID_Station", ViewBag.Stations as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Trend.T_ID_Station" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trend.T_ID_Unit" class="control-label"></label>
                @Html.DropDownList("Trend.T_ID_Unit", ViewBag.Units as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Trend.T_ID_Unit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trend.T_ID_Trend_parameter_name" class="control-label"></label>
                @Html.DropDownList("Trend.T_ID_Trend_parameter_name", ViewBag.Trend_parameters as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Trend.T_ID_Trend_parameter_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trend.T_ID_Control_object" class="control-label"></label>
                @Html.DropDownList("Trend.T_ID_Control_object", ViewBag.Control_objects as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Trend.T_ID_Control_object" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trend.T_ID_Regulator" class="control-label"></label>
                @Html.DropDownList("Trend.T_ID_Regulator", ViewBag.Regulators as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Trend.T_ID_Regulator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trend.T_ID_Signal_type" class="control-label"></label>
                @Html.DropDownList("Trend.T_ID_Signal_type", ViewBag.Signal_types as SelectList, htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="Trend.T_ID_Signal_type" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

