@model IEnumerable<ACS_Trend.Models.TrendViewModel>

@{
    ViewData["Title"] = "GetAllTrends";
}

<h1>GetAllTrends</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.T_ID_Station)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T_ID_Trend_parameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T_ID_Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.T_ID_Station)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.T_ID_Trend_parameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.T_ID_Unit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Trend">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Trend">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Trend">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
