@model IEnumerable<ACS_Trend.Domain.Entities.Station_type>

@{
    ViewData["Title"] = "GetAllStation_types";
}

<h1>GetAllStation_types</h1>

<p>
    <a asp-action="CreateStation_type">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StationType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StationType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Station_type">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Station_type">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Station_type">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
