@model IEnumerable<ACS_Trend.Models.UnitViewModel>

@{
    ViewData["Title"] = "GetAllUnits";
}

<h1>GetAllUnits</h1>

<p>
    <a asp-action="CreateUnit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Unit_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Unit_name)
            </td>
            <td>
                <a asp-action="EditUnit" asp-route-id="@item.ID_Unit">Edit</a> |
                <a asp-action="Details_Unit" asp-route-id="@item.ID_Unit">Details</a> |
                <a asp-action="DeleteUnit" asp-route-id="@item.ID_Unit">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
