@model ACS_Trend.Models.HomeIndexViewModel
@{
    ViewData["Title"] = "Анализ трендов";
}

<script src="~/js/highcharts/7.1.2/highcharts.js"></script>
<script src="~/js/highcharts/7.1.2/modules/accessibility.js"></script>
<script src="~/js/highcharts/7.1.2/modules/exporting.js"></script>
<script src="~/js/highcharts/7.1.2/modules/export-data.js"></script>

<div id="div1" class="jumbotron" style="text-align:center">
    <h2>Анализ трендов динамических характеристик теплоэнергетического оборудования</h2>
</div>

<style>
    #mainline_block {
        width: 100%;
        display: flex;
    }

    #line_block {
        -webkit-flex: 1;
        flex: 1;
        background: #f1f1f1;
        float: left;
        margin: 0 0px 0px 0;
        text-align: center;
        padding: 10px;
    }

    #mainline_block2 {
        width: 100%;
        display: flex;
    }

    #line_block2 {
        -webkit-flex: 1;
        flex: 1;
        background: #f1f1f1;
        float: left;
        margin: 0 0px 0px 0;
        text-align: center;
        padding: 10px;
    }

    #mainline_block3 {
        width: 100%;
        display: flex;
    }

    #line_block3 {
        -webkit-flex: 1;
        flex: 1;
        background: #f1f1f1;
        float: left;
        margin: 0 0px 0px 0;
        text-align: center;
        padding: 10px;
    }

    #main_val_block {
        width: 100%;
        display: flex;
    }

    #val_block {
        -webkit-flex: 1;
        flex: 1;
        background: #f1f1f1;
        float: left;
        margin: 0 0px 0 0px;
        text-align: center;
        padding: 10px;
    }
</style>

<div>
    <hr />
    <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <p />
        <div>
            <input type="submit" value="Построить графики трендов" asp-for="ProcessType" class="btn btn-primary" />
        </div>
    </form>
    <hr />
</div>

<div>
    <label>@ViewBag.Temp</label>
</div>

<div style="width:100%; height:1px; clear:both;"></div>
<div>
    <div id="mainline_block">
        <div id="line_block">
            <figure class="highcharts-figure">
                <div id="container_1_1"></div>
                <p class="highcharts-description">
                    
                </p>
            </figure>
        </div>
        <div id="line_block">
            <figure class="highcharts-figure">
                <div id="container_2_1"></div>
                <p class="highcharts-description">
                    
                </p>
            </figure>
        </div>
    </div>
</div>

<div>
    <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
        <p />
            <div id="main_val_block" class="form-group">
                <div id="val_block">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="StartPoint" class="control-label"></label>
                        <input asp-for="StartPoint" class="form-control" />
                        <span asp-validation-for="StartPoint" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ToleranceZone_K_IN" class="control-label"></label>
                        <input asp-for="ToleranceZone_K_IN" class="form-control" />
                        <span asp-validation-for="ToleranceZone_K_IN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpperLimit_IN" class="control-label"></label>
                        <input asp-for="UpperLimit_IN" class="form-control" />
                        <span asp-validation-for="UpperLimit_IN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LowerLimit_IN" class="control-label"></label>
                        <input asp-for="LowerLimit_IN" class="form-control" />
                        <span asp-validation-for="LowerLimit_IN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TimeLimit_IN" class="control-label"></label>
                        <input asp-for="TimeLimit_IN" class="form-control" />
                        <span asp-validation-for="TimeLimit_IN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="K_Approxy_IN" class="control-label"></label>
                        <input asp-for="K_Approxy_IN" class="form-control" />
                        <span asp-validation-for="K_Approxy_IN" class="text-danger"></span>
                    </div>
                </div>
                <div id="val_block">
                    <div class="form-group">
                        <label asp-for="K_Moving" class="control-label"></label>
                        <input asp-for="K_Moving" class="form-control" />
                        <span asp-validation-for="K_Moving" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ToleranceZone_K_OUT" class="control-label"></label>
                        <input asp-for="ToleranceZone_K_OUT" class="form-control" />
                        <span asp-validation-for="ToleranceZone_K_OUT" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpperLimit_OUT" class="control-label"></label>
                        <input asp-for="UpperLimit_OUT" class="form-control" />
                        <span asp-validation-for="UpperLimit_OUT" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LowerLimit_OUT" class="control-label"></label>
                        <input asp-for="LowerLimit_OUT" class="form-control" />
                        <span asp-validation-for="LowerLimit_OUT" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TimeLimit_OUT" class="control-label"></label>
                        <input asp-for="TimeLimit_OUT" class="form-control" />
                        <span asp-validation-for="TimeLimit_OUT" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="K_Approxy_OUT" class="control-label"></label>
                        <input asp-for="K_Approxy_OUT" class="form-control" />
                        <span asp-validation-for="K_Approxy_OUT" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <p />
            <div>
                <input type="submit" value="Выполнить анализ" asp-for="ProcessType" class="btn btn-primary" />
            </div>
            <p />
        </form>
</div>

<div style="width:100%; height:1px; clear:both;"></div>
<div id="mainline_block2">
    <div id="line_block2">
        <figure class="highcharts-figure">
            <div id="container_1_2"></div>
            <p class="highcharts-description">
                
            </p>
        </figure>
    </div>
    <div id="line_block2">
        <figure class="highcharts-figure">
            <div id="container_2_2"></div>
            <p class="highcharts-description">
                
            </p>
        </figure>
    </div>
</div>
<div id="mainline_block3">
    <div id="line_block3">
        <figure class="highcharts-figure">
            <div id="container_1_3"></div>
            <p class="highcharts-description">
                
            </p>
        </figure>
    </div>
    <div id="line_block3">
        <figure class="highcharts-figure">
            <div id="container_2_3"></div>
            <p class="highcharts-description">
                
            </p>
        </figure>
    </div>
</div>

<div id="mainline_block">
    <div id="line_block">
        <figure class="highcharts-figure">
            <div id="container_4"></div>
            <p class="highcharts-description">
                
            </p>
        </figure>
    </div>
</div>

<div style="width:100%; height:1px; clear:both;"></div>


<div>
    <hr />
    <form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">
        <p />
        <h5>
            Параметры сохранения в базу данных
        </h5>
        <h5>@ViewBag.Issuccess</h5>
        <div id="main_val_block" class="form-group">
            <div id="val_block">
                <p class="highcharts-description">
                    Общие параметры трендов
                </p>
                <div class="form-group">
                    <label asp-for="Transient_characteristicPointViewModel_.TrendIN.T_ID_Station" class="control-label"></label>
                    @Html.DropDownList("Transient_characteristicPointViewModel_.TrendIN.T_ID_Station", ViewBag.Stations as SelectList, htmlAttributes: new { @class = "form-control" })
                    <span asp-validation-for="Transient_characteristicPointViewModel_.TrendIN.T_ID_Station" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transient_characteristicPointViewModel_.TrendIN.T_ID_Control_object" class="control-label"></label>
                    @Html.DropDownList("Transient_characteristicPointViewModel_.TrendIN.T_ID_Control_object", ViewBag.Control_objects as SelectList, htmlAttributes: new { @class = "form-control" })
                    <span asp-validation-for="Transient_characteristicPointViewModel_.TrendIN.T_ID_Control_object" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transient_characteristicPointViewModel_.TrendIN.T_ID_Regulator" class="control-label"></label>
                    @Html.DropDownList("Transient_characteristicPointViewModel_.TrendIN.T_ID_Regulator", ViewBag.Regulators as SelectList, htmlAttributes: new { @class = "form-control" })
                    <span asp-validation-for="Transient_characteristicPointViewModel_.TrendIN.T_ID_Regulator" class="text-danger"></span>
                </div>
            </div>
            <div id="val_block">
                <p class="highcharts-description">
                    Параметры тренда входного сигнала
                </p>
                <div class="form-group">
                    <label asp-for="Transient_characteristicPointViewModel_.TrendIN.T_ID_Trend_parameter_name" class="control-label"></label>
                    @Html.DropDownList("Transient_characteristicPointViewModel_.TrendIN.T_ID_Trend_parameter_name", ViewBag.Trend_parameters as SelectList, htmlAttributes: new { @class = "form-control" })
                    <span asp-validation-for="Transient_characteristicPointViewModel_.TrendIN.T_ID_Trend_parameter_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transient_characteristicPointViewModel_.TrendIN.T_ID_Unit" class="control-label"></label>
                    @Html.DropDownList("Transient_characteristicPointViewModel_.TrendIN.T_ID_Unit", ViewBag.Units as SelectList, htmlAttributes: new { @class = "form-control" })
                    <span asp-validation-for="Transient_characteristicPointViewModel_.TrendIN.T_ID_Unit" class="text-danger"></span>
                </div>
            </div>
            <div id="val_block">
                <p class="highcharts-description">
                    Параметры тренда выходного сигнала
                </p>
                <div class="form-group">
                    <label asp-for="Transient_characteristicPointViewModel_.TrendOUT.T_ID_Trend_parameter_name" class="control-label"></label>
                    @Html.DropDownList("Transient_characteristicPointViewModel_.TrendOUT.T_ID_Trend_parameter_name", ViewBag.Trend_parameters as SelectList, htmlAttributes: new { @class = "form-control" })
                    <span asp-validation-for="Transient_characteristicPointViewModel_.TrendOUT.T_ID_Trend_parameter_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Transient_characteristicPointViewModel_.TrendOUT.T_ID_Unit" class="control-label"></label>
                    @Html.DropDownList("Transient_characteristicPointViewModel_.TrendOUT.T_ID_Unit", ViewBag.Units as SelectList, htmlAttributes: new { @class = "form-control" })
                    <span asp-validation-for="Transient_characteristicPointViewModel_.TrendOUT.T_ID_Unit" class="text-danger"></span>
                </div>
            </div>
        </div>
        <p />
        <div class="form-group">
            <input type="submit" value="Сохранить результаты" asp-for="ProcessType" class="btn btn-primary" />
        </div>
    </form>
    <hr />
</div>





<script>
    Highcharts.setOptions({
        lang: {
            downloadCSV: 'Скачать CSV',
            downloadXLS: 'Скачать XLS',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            downloadPNG: 'Скачать график в PNG',
            downloadJPEG: 'Скачать график в JPEG',
            printChart: 'Печать графика',
            resetZoom: 'Сбросить масштаб',
            viewData: 'Просмотреть в таблице',
            viewFullscreen: 'Полноэкранный режим'
        }
    });

    Highcharts.chart('container_1_1', {
        chart: {
            type: 'line',
            zoomType: 'x'
        },
        title: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Source.title)),
        subtitle: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Source.subtitle)),
        xAxis: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Source.xAxis)),
        yAxis: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Source.yAxis)),
        plotOptions: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Source.plotOptions)),
        series: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Source.series))
    });
</script>

<script>
    Highcharts.setOptions({
        lang: {
            downloadCSV: 'Скачать CSV',
            downloadXLS: 'Скачать XLS',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            downloadPNG: 'Скачать график в PNG',
            downloadJPEG: 'Скачать график в JPEG',
            printChart: 'Печать графика',
            resetZoom: 'Сбросить масштаб',
            viewData: 'Просмотреть в таблице',
            viewFullscreen: 'Полноэкранный режим'
        }
    });

    Highcharts.chart('container_2_1', {
        chart: {
            type: 'line',
            zoomType: 'x'
        },
        title: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Source.title)),
        subtitle: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Source.subtitle)),
        xAxis: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Source.xAxis)),
        yAxis: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Source.yAxis)),
        plotOptions: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Source.plotOptions)),
        series: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Source.series))
    });
</script>

<script>
    Highcharts.setOptions({
        lang: {
            downloadCSV: 'Скачать CSV',
            downloadXLS: 'Скачать XLS',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            downloadPNG: 'Скачать график в PNG',
            downloadJPEG: 'Скачать график в JPEG',
            printChart: 'Печать графика',
            resetZoom: 'Сбросить масштаб',
            viewData: 'Просмотреть в таблице',
            viewFullscreen: 'Полноэкранный режим'
        }
    });

    Highcharts.chart('container_1_2', {
        chart: {
            zoomType: 'x',
        },
        title: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Aproxy.title)),
        subtitle: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Aproxy.subtitle)),
        xAxis: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Aproxy.xAxis)),
        yAxis: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Aproxy.yAxis)),
        plotOptions: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Aproxy.plotOptions)),
        series: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Aproxy.series))
        //exporting: {
        //    buttons: {
        //        contextButton: {
        //            enabled: false
        //        },
        //        viewButton: {
        //            text: 'Вид',
        //            menuItems: [
        //                'viewFullscreen',
        //            ]
        //        },
        //        exportButton: {
        //            text: 'Скачать',
        //            menuItems: [
        //                'downloadPNG',
        //                'downloadJPEG',
        //                'downloadPDF',
        //                'downloadSVG'
        //            ]
        //        },
        //        printButton: {
        //            text: 'Печать',
        //            onclick: function () {
        //                this.print();
        //            }
        //        }
        //    }
        //}
    });
</script>

<script>
    Highcharts.setOptions({
        lang: {
            downloadCSV: 'Скачать CSV',
            downloadXLS: 'Скачать XLS',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            downloadPNG: 'Скачать график в PNG',
            downloadJPEG: 'Скачать график в JPEG',
            printChart: 'Печать графика',
            resetZoom: 'Сбросить масштаб',
            viewData: 'Просмотреть в таблице',
            viewFullscreen: 'Полноэкранный режим'
        }
    });

    Highcharts.chart('container_2_2', {
        chart: {
            type: 'line',
            zoomType: 'x'
        },
        title: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Aproxy.title)),
        subtitle: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Aproxy.subtitle)),
        xAxis: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Aproxy.xAxis)),
        yAxis: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Aproxy.yAxis)),
        plotOptions: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Aproxy.plotOptions)),
        series: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Aproxy.series))
    });
</script>

<script>
    Highcharts.setOptions({
        lang: {
            downloadCSV: 'Скачать CSV',
            downloadXLS: 'Скачать XLS',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            downloadPNG: 'Скачать график в PNG',
            downloadJPEG: 'Скачать график в JPEG',
            printChart: 'Печать графика',
            resetZoom: 'Сбросить масштаб',
            viewData: 'Просмотреть в таблице',
            viewFullscreen: 'Полноэкранный режим'
        }
    });

    Highcharts.chart('container_1_3', {
        chart: {
            type: 'line',
            zoomType: 'x'
        },
        title: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Tg.title)),
        subtitle: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Tg.subtitle)),
        xAxis: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Tg.xAxis)),
        yAxis: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Tg.yAxis)),
        plotOptions: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Tg.plotOptions)),
        series: @Html.Raw(Json.Serialize(Model.LineChartData_IN_Tg.series))
    });
</script>

<script>
    Highcharts.setOptions({
        lang: {
            downloadCSV: 'Скачать CSV',
            downloadXLS: 'Скачать XLS',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            downloadPNG: 'Скачать график в PNG',
            downloadJPEG: 'Скачать график в JPEG',
            printChart: 'Печать графика',
            resetZoom: 'Сбросить масштаб',
            viewData: 'Просмотреть в таблице',
            viewFullscreen: 'Полноэкранный режим'
        }
    });

    Highcharts.chart('container_2_3', {
        chart: {
            type: 'line',
            zoomType: 'x'
        },
        title: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Tg.title)),
        subtitle: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Tg.subtitle)),
        xAxis: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Tg.xAxis)),
        yAxis: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Tg.yAxis)),
        plotOptions: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Tg.plotOptions)),
        series: @Html.Raw(Json.Serialize(Model.LineChartData_OUT_Tg.series))
    });
</script>

<script>
    Highcharts.setOptions({
        lang: {
            downloadCSV: 'Скачать CSV',
            downloadXLS: 'Скачать XLS',
            downloadPDF: 'Скачать PDF',
            downloadSVG: 'Скачать SVG',
            downloadPNG: 'Скачать график в PNG',
            downloadJPEG: 'Скачать график в JPEG',
            printChart: 'Печать графика',
            resetZoom: 'Сбросить масштаб',
            viewData: 'Просмотреть в таблице',
            viewFullscreen: 'Полноэкранный режим'
        }
    });

    Highcharts.chart('container_4', {
        chart: {
            type: 'line',
            zoomType: 'x'
        },
        title: @Html.Raw(Json.Serialize(Model.LineChartData_TransCh.title)),
        subtitle: @Html.Raw(Json.Serialize(Model.LineChartData_TransCh.subtitle)),
        xAxis: @Html.Raw(Json.Serialize(Model.LineChartData_TransCh.xAxis)),
        yAxis: @Html.Raw(Json.Serialize(Model.LineChartData_TransCh.yAxis)),
        plotOptions: @Html.Raw(Json.Serialize(Model.LineChartData_TransCh.plotOptions)),
        series: @Html.Raw(Json.Serialize(Model.LineChartData_TransCh.series))
    });
</script>

